*cache*
.vscode/
*backup*

data/
figures/

BFWalk-input/
BFWalk-output/
BFWalk-README

multixrank-input/
multixrank-output/
multixrank-README

netcore-input/
netcore-output/
netcore-README

stats/
network_stats.py
seeds_stats.py

validation_logs/